snippet related
Related to [${1:`git rev-parse --abbrev-ref HEAD`}](https://jira.camptocamp.com/browse/$1)
$0
endsnippet

snippet branch
`git rev-parse --abbrev-ref HEAD` $0
endsnippet

snippet commit
${1:Jira card identifiel} - ${2:Summarize changes in around 50 characters or less}

${3:More detailed explanatory text}

Resolves: $1
endsnippet
