snippet related
Related to [${1:Card Number}](https://jira.camptocamp.com/browse/$1)
$0
endsnippet

snippet commit
${1:Jra card identifiel} - ${2:Summarize changes in around 50 characters or less}

${3:More detailed explanatory text}

Resolves: BSCOS-$1
endsnippet
