snippet ccc "Copyright Camptocamp"
/**
 * Copyright ${1:`date +%Y`} Camptocamp SA (http://www.camptocamp.com)
 * License ${2:AGPL}-3.0 or later (http://www.gnu.org/licenses/agpl.html).
 */
endsnippet
